*{
  box-sizing: border-box;
}
body{
  padding: 20px 100px 0 100px;
  min-width: 1000px;
}

.App{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.featured{
  display: flex;
  align-items: start;
  gap: 80px;
  h1{
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 600;
    margin: 0;
    line-height: 140%;
  }


  p{
    font-family: sans-serif;
    font-size: 16px;
    color: #7A7A7A;
  }

  .text{
    color: #D64779;
    font-size: 20px;
    font-weight: 700;
    font-family: sans-serif;
    margin: 15px 0;
    line-height: 140%;
  }


}

.pharmacy{
  max-width: 390px;
}

.all_products{
  border: 2px solid #EDEDED;
  width: 210px;
  height: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  p{
    font-family: sans-serif;
    font-weight: 600;
  }
}

.title{
  margin-top: 40px;
  font-family: sans-serif;
  font-size: 26px;
}
